<section class="view" *ngIf="!isLoading; else loader">
    <h4>Reset password</h4>
    <p class="error-text" *ngIf="message | async">{{message | async}}</p>
    <form novalidate [formGroup]="form" (ngSubmit)="resetPassword()">
        <label>
            Password
            <input type="password" formControlName="password" />
            <app-validation-error [errors]="form.get('password').errors"
                *ngIf="!!form.get('password').errors && form.get('password').touched">
            </app-validation-error>
        </label>
        <label>
            Confirm password
            <input type="password" formControlName="confirmPassword" />
            <app-validation-error [errors]="form.get('confirmPassword').errors"
                *ngIf="!!form.get('confirmPassword').errors && form.get('confirmPassword').touched">
            </app-validation-error>
        </label>
        <button type="submit">Send</button>
    </form>
</section>
<ng-template #loader>
    <app-page-loader></app-page-loader>
</ng-template>
