
section {
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
    margin-bottom: 2rem;
}

.error-text {
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

button {
    font-weight: 500;
    width: 60px;
    margin: auto;
    border-radius: 5px;
    background-color: cadetblue;
    color: rgba(240, 240, 240, 0.8);
}

button:hover {
    background-color: rgb(93, 168, 170);
    color: rgba(240, 240, 240, 1);
    box-shadow: 3px 3px rgb(150, 150, 150);

    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: box-shadow 0.2s;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    margin: 1rem auto;
    min-width: 200px;
}