<section class="app-login">
    <h3>Login</h3>
    <p id="error" *ngIf="requestError.on">{{requestError.message}}</p>
    <form class="form-login" novalidate [formGroup]="form" (ngSubmit)="handleSubmit()">
        <label class="text-input">
            Email
            <input type="text" formControlName="email" />
            <app-validation-error [errors]="form.get('email').errors"
            *ngIf="!!form.get('email').errors && form.get('email').touched"></app-validation-error>
        </label>
        <label class="text-input">
            Password
            <input type="password" formControlName="password" />
            <app-validation-error [errors]="form.get('password').errors"
            *ngIf="!!form.get('password').errors && form.get('password').touched"></app-validation-error>
        </label>
        <label class="box-input">
            Keep me logged
            <input type="checkbox" formControlName="keepLogged" />
        </label>
        <a routerLink="/changePassword">Forgot password ?</a>
        <a routerLink="/register">Create account</a>
        <button type="submit">Login</button>
    </form>
</section>
