
.app-login {
    width: 30%;
    padding: 1rem;
    margin: auto;
}

.app-login h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.form-login {
    height: 100%;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-login a {
    margin: 0.5rem;
}

.form-login button {
    width: 4rem;
    height: 2em;
    margin: 0.5rem;
    font-weight: 600;
    background: cadetblue;
    color: rgb(220, 220, 220);
    border-radius: 5px;

    transition: color 0.2s;
    transition: background-color 0.2s;
}

.form-login button:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
    background-color: rgba(95, 158, 160, 0.9);
    box-shadow: 2px 2px gray;
}

.box-input {
    margin: 0.5rem;
}

.text-input {
    font-weight: 600;
    margin: 0.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input input {
    margin-top: 5px;
}

#error-container {
    display: flex;
    flex-direction: column;
}

// error
#msg-0 {
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
}

// success
#msg-1 {
    text-align: center;
    color: rgba(0, 255, 0, 0.8);
}

// warning
#msg-2 {
    text-align: center;
    color: rgba(255, 255, 0, 0.8);
}

#validation-btn {
    width: fit-content;
    margin: auto;

    border-radius: 5px;
    border-color: white;
    border-width: 0;
}